{% extends "base.html" %}
{% block content %}
<div class="container">
	<h4> Тут я помещу необходимую справку по админ панели </h4>
<!-- 	<h4>Чтобы просмотреть результаты, перейдите на вкладку "Сданные тесты". Их можно отфильтровать по определенному пользователю, определенной группе и по месяцу сдачи теста.</h4>
	<h4>Кнопка <span class="glyphicon glyphicon-indent-left"></span> нужна для просмотра результата систем (например, человек-человек - 30 %).</h4>
	<h4>Кнопка <span class="glyphicon glyphicon-list"></span> предназначена для просмотра ответов, выбранных тестируемым во время прохождения.</h4> -->
</div>
{% endblock %}